<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename= 'land.css')}}"
    />
    <title>Vignan's Digital Letter System</title>
  </head>
  <body>
    <div class="c">
      <h1>Welcome to Vignan's Digital Letter System</h1>
    </div>
    <div class="vig">
      <img
        src="{{url_for('static',filename='img2.png')}}"
        width="458"
        height="80"
      />
    </div>
    <div class="b">
      <img
        src="{{url_for('static',filename='img.jpg')}}"
        width="800"
        height="500"
      />
    </div>
    <div class="just">
      <a href="/login" class="myButton">Get Started</a>
    </div>
    <div class="sky">
      <h2 style="color: black">About Digital Letter System</h2>
    </div>
    <div class="p">
      <p>
        <big
          >Students in college require permissions from their respective class,
          branch, and college heads for attending and conducting events or let’s
          just say permissions for anything. To fulfil this, students end up
          writing letters and carry these letters to their respective heads and
          waste most of their time, energy, and paper.So instead of all that
          hectic work Digital Letter System makes it simple and easy for the
          students to take permissions from their respective branches.</big
        >
      </p>
    </div>
  </body>
</html>
